.footer{

    background:#0f172a;

    color:white;

    text-align:center;

    padding:40px 20px;

}

.footer h3{

    margin-bottom:10px;

    font-size:1.8rem;

}

.footer p{

    margin:8px 0;

    color:#cbd5e1;

}

.footer-note{

    margin-top:20px;

    font-size:.9rem;

    color:#94a3b8;

}